<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Event Registration{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="{% url 'home' %}">SITP-1<span>BATCH-4</span></a>
            </div>
            <ul class="nav-links">
                <li><a href="{% url 'home' %}">Home</a></li>

                <li><a href="{% url 'gallery' %}">Gallery</a></li>
                {% if user.is_authenticated %}
                    {% comment %} <li><a href="{% url 'upload' %}">Upload</a></li> {% endcomment %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'registration' %}">Register</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    </header>

    <main>

        {% for message in messages %}
            <div class="message {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}

        {% block content %}
        {% endblock %}

    </main>

    <footer>
        <p>&copy; {% now "Y" %} Event Registration. All rights reserved.</p>
    </footer>

    <!-- Common JS -->
    <script src="{% static 'js/common.js' %}"></script>
    
    <!-- Page-specific JS -->
    {% block javascript %}
    {% endblock %}
</body>
</html>